@mixin mobile {
    @media screen and (max-width: 750px) {
        @content;
    }
}

@mixin scaleImage($duration: 0.3s, $scaled: 110%) {
    transition: all $duration;
    &:hover {
        transform: scale($scaled);
        @content;
    }
}

@mixin scrollBarSize($size) {
    @if $size == "none" {
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    } @else if $size == "thin" {
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 0.65rem;
            @include mobile() {
                width: 0.3rem;
            }
        }
    }
}
