$height-header: 5rem;
$width-wife: 16rem;

$bg-header: #2d333b;
$color-header: #bebfc1;

$gap: 0.4rem;
$gap-big: 0.8rem;
$gap-large: 1rem;
$gap-xlarge: 1.5rem;
$gap-xxlarge: 2rem;

$border-r: 0.3rem;
$border-r-big: 0.5rem;
