.gusto-border {
    border-radius: 0.5rem;
    border: 1px solid var(--color-border);
}

.gusto-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    box-sizing: border-box;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    border: 1px solid var(--color-border);
    cursor: pointer;
    &:hover {
        color: var(--color-text-theme);
        border-color: var(--color-text-theme);
    }
}

.gusto-avatarBox {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(50%);
    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

.gusto-frameBox {
    position: relative;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    :first-child {
        border-radius: 27%;
    }
    :last-child {
        width: 119%;
        max-width: 119%;
        height: 119%;
    }
}

.gusto-tagBox {
    --fontsize: var(--fontsize-default);
    border-radius: var(--fontsize);
    border: 1px solid var(--color-border);
    padding: calc(var(--fontsize) / 3) calc(var(--fontsize) / 1.2);
    width: max-content;
    height: max-content;
    font-size: var(--fontsize);
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: var(--color-bg-deep);
    }
    a {
        font-family: "chuyuan";
        &:hover {
            text-decoration: none;
        }
    }
}

.canClick {
    cursor: pointer;
}

.message {
    @include mobile {
        width: 80% !important;
    }
}
